@media screen and (min-width: 1400px) {
	.container {
		max-width: 1230px;
	}

	/* RAKEEB'S CSS HERE */
}

/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
	/* header  */

	.search-wrapper {
		max-width: 300px;
	}
	.header-actions-links .action-btn {
		padding: 6px 20px;
		height: 100%;
	}
	.header-nav ul li a {
		font-size: 14px;
	}

	/* RAKEEB'S CSS HERE */
	.tab-list {
		overflow-x: scroll;
	}

	.vega-trails-cntn-card {
		row-gap: 28px;
	}

	/*---- Blog Page Here ----*/
	.blog-footer-bottom ul {
		flex-wrap: wrap;
		row-gap: 5px;
	}
}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	/* header  */

	.search-wrapper {
		display: none;
	}
	.header-actions-links .action-btn {
		padding: 6px 20px;
		height: 100%;
	}
	.header-nav ul li a {
		font-size: 14px;
	}
	.header-top {
		display: none;
	}
	.header-nav {
		display: none;
	}

	.site-logo img {
		max-width: 178px;
	}
	.mobile-search-btn {
		background: transparent;
		border: none;
	}
	.menu-toggler-btn button {
		background: transparent;
		border: none;
	}

	/* RAKEEB'S CSS HERE */
	.tab-buttons-rh {
		padding-top: 5px;
		padding-bottom: 15px;
	}
	.tab-list {
		overflow-x: scroll;
	}

	.vega-trails-cntn-card {
		row-gap: 15px;
	}
	.vega-trails-cntn-card h2 {
		font-size: 30px;
	}
	.vega-trails-cntn-card p {
		font-size: 16px;
	}

	.blog-desc-wrpper-rh .row {
		gap: 70px;
	}
	section.blog-desc-area-rh {
		padding-bottom: 50px;
	}

	.blog-footer-items-one {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}
	.blog-footer-items-one p {
		padding: 0;
	}
	.blog-footer-bottom ul {
		flex-wrap: wrap;
		row-gap: 5px;
		justify-content: center;
	}
	.blog-footer-bottom {
		text-align: center;
	}
	.blog-footer-section {
		padding: 55px 0;
	}
}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {
	/* RAKEEB'S CSS HERE */
	.tab-buttons-rh {
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.akbank-logo a img {
		width: 250px !important;
	}
	.mobile-search-icon i {
		font-size: 23px;
		color: #fff;
		cursor: pointer;
	}

	.full-width-search {
		flex-grow: 1;
	}
	.full-width-search .search-box {
		width: 100%;
		padding-right: 12px;
	}
	.full-width-search input {
		width: 100%;
		background: #fff;
	}
	.full-width-search input,
	.full-width-search input::placeholder {
		color: #606060;
	}
	.tab-list {
		overflow-x: scroll;
	}

	.vega-trails-wrpper-rh {
		padding: 24px 0;
	}

	.vega-trails-wrpper-rh .row {
		gap: 24px;
	}

	.blog-desc-wrpper-rh .row {
		gap: 35px;
	}
	.banner-img-rh h2 {
		margin-bottom: 24px;
	}
	.vega-trails-cntn-card {
		max-width: 100%;
	}
	.vega-trails-cntn-card p {
		margin-bottom: 24px;
	}
	.slider-desc-card h3 {
		margin-bottom: 20px;
	}
	section.blog-desc-area-rh {
		padding-bottom: 20px;
	}
	.date-time-link {
		flex-direction: column;
		gap: 30px;
	}
	.blog-details-time-wrpper,
	.blog-details-time-wrpper ul {
		width: 100%;
	}

	.vega-trails-cntn-card a {
		display: block !important;
		text-align: center;
	}
	.blog-details-time-wrpper ul li:first-child {
		flex-grow: 1;
	}

	.blog-footer-section {
		padding: 45px 0;
	}
	.blog-footer-items-one {
		text-align: center;
	}
	.blog-footer-items-one ul {
		justify-content: center;
	}
	.blog-footer-items-one p {
		padding-top: 20px;
	}
	.blog-footer-bottom {
		border-top: 1px solid #ffffffc2;
		padding-top: 25px;
		margin-top: 25px;
	}
	.blog-footer-bottom ul {
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	.blog-footer-bottom p {
		text-align: center;
	}
}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {
}
